<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>

<body>
    <center>
        {{!-- <div
            style="position: absolute; left: 15%; margin-left: 225px; width: 550px; height: 350px;border: 3px solid black">
            --}}
            <h1 style="color:rgb(255, 154, 38);text-decoration: underline dotted rgb(8, 4, 251)">Poll
                Simulator
            </h1> <br>
            <h2 style="margin-bottom: 5px;">
                <a style="color:brown;" href="/addCandidates">Add Candidates</a>
            </h2>
            <h2> <a style="color:brown;" href="/vote">Vote</a> </h2>
            <h2> <a style="color:brown;" href="/pollresult">Poll Result</a></h2>
            <h2> <a style="color:brown;" href="/votingsummary">Voting Summary</h2></a>
            {{!--
        </div> --}}
    </center>
</body>

</html>