<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>

<body>
    <center>
        <h1 style="text-decoration:underline">Poll Result</h1>
        <h3 style="color: green;"> Win : </h3> {{ress.[0].name}} -- {{ress.[0].votes}} <br><br>
        <h3 style="color: red;">Lost :</h3> {{ress.[1].name}} -- {{ress.[1].votes}}
    </center>
    <br /><br />
    <center><a style=" font-size:3em;color:brown;" href="/">Home</h2></a></center>
</body>

</html>